@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
}
#mapa {
    width: 100%;
}
button {
    border: none;
    padding: 0;
}
.bts {
width: 25px;
box-shadow: 0.5px 0.5px 0.5px black;
}
.bts:hover {
    box-shadow: 0px 0px 0px black;
}
#msg {
    order: -1;
}
.cidades {
    display: flex;
    margin: 50px 0 50px 0;
    justify-content: space-around;
    gap: 20px;
}
.cidade {
    display: grid;
    background-color: rgb(248, 248, 248);
    justify-content: center;
    text-align: center;
    border: solid 1px ;
    border-radius: 5px;
    width: 100px;
    padding: 10px;
}